name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build and Package Binaries
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os:
          - windows
          - linux
          - mac-intel
          - mac-m1

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Build pixel tools
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: amd64
        run: |
          if [ "${GOOS}" = "mac-intel" ]; then
            export GOOS="darwin"
          elif [ "${GOOS}" = "mac-m1" ]; then
            export GOOS="darwin"
            export GOARCH="arm64"
          fi

          make build

      - name: Package pixel tools
        env:
          OS: ${{ matrix.os }}
        run: |
          OUTPUT_NAME="pixel-tools-${OS}"
          EXT=""
          if [ "${OS}" = "windows" ]; then
            find bin -type f -exec mv -- {} {}.exe \;
            EXT=".exe"
          fi

          mkdir -p dist/${OUTPUT_NAME}

          cp -v bin/* dist/${OUTPUT_NAME}/
          mkdir -p dist/${OUTPUT_NAME}/examples
          cp -rv cmd/fontpack/example dist/${OUTPUT_NAME}/examples/fontpack
          cp -rv cmd/tilepack/example dist/${OUTPUT_NAME}/examples/tilepack
          cp -v cmd/recolor/recolor-config.yaml dist/${OUTPUT_NAME}/
          cp -v cmd/recolor/tf_to_e.lut dist/${OUTPUT_NAME}/

          cd dist
          find .
          zip -r ${OUTPUT_NAME}.zip ${OUTPUT_NAME}/
          cd ..

      - name: Release to Github
        uses: softprops/action-gh-release@v1
        with:
          files: dist/pixel-tools-${{ matrix.os }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release to itch.io
        uses: XanatosX/butler-publish-itchio-action@fb0a6f13954b75e8fbcfb703dbdb8626452efaba
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_API_KEY }}
          CHANNEL: ${{ matrix.os }}
          ITCH_GAME: pixel-tools
          ITCH_USER: skhoroshavin
          PACKAGE: dist/pixel-tools-${{ matrix.os }}.zip
          VERSION: ${{ github.ref_name }}
